#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#


#config BUZZER
#	bool "BUZZER extended IDs"
#	default n
#	---help---
#		Enables support for the 29-bit extended ID.  Default Standard 11-bit
#		IDs.

