#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MYPROJECT_EXAMPLE_DAC60096
	bool "dac60096 example"
	default n
	---help---
		Enable the \"dac60096 example\" project

if MYPROJECT_EXAMPLE_DAC60096

config MYPROJECT_EXAMPLE_DAC60096_PROGNAME
	string "dac60096 example"
	default "dac60096 example"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config MYPROJECT_EXAMPLE_DAC60096_PRIORITY
	int "dac60096 example priority"
	default 100

config MYPROJECT_EXAMPLE_DAC60096_STACKSIZE
	int "dac60096 example stack size"
	default 2048

endif



